<!DOCTYPE html>
<html>
    <head>
        <title> RF </title>
        </head>
        <body bgcolor="lightyellow" text="blue">
            <center>
<h1> Hotel Reservation Form</h1>
</center>
<hr>

<Form>
   First Name:<input type="text"><br><br>
    Last Name:<input type="text"><br><br>
Mobile No:<input type="text"><br><br>
    Age in years:<input type="text"><br><br>
    Gender:<input type="RADIO" name="Gender">Male<input type="RADIO" name="Gender">Female<br><br>
     Address:
<textarea rows="2" cols="20"></textarea><br><br>
Check-in Date:<input type="Date">  Check-in Time:<input type="time"><br><br>
Check-out Date:<input type="Date"> Check-out Time:<input type="time"><br><br>
Room Type:<br>

        <input type="checkbox"> Single Room<br>
            <input type="checkbox">Double Room<br>
                <input type="checkbox"> Delux Room<br>
                    <input type="checkbox"> Ac Room<br>
                 <input type="checkbox"> Non Ac Room<br>

                    
                                <br>


                               <button onclick="myFunction()">submit</button>
                               <script>
                               function myFunction(){
                            	   alert("Successfully submitted");
                            	   
                               }
                               </script>
                               
                               </Form>
                               </body>
</html>


                                